:root {
  --background: #efefef;
  --secondary: #a8dadc;
  --terciary: #caebf2;
  --details: #fce2db;
  --text: #7c7c80;
  --test1: red;
  --test2: blue;
  --test3: yellow;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-container {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text);
}

.logo {
  width: 120px;
  height: 31px;
  background: var(--text) !important;
  margin: 16px 28px 16px 0;
  float: left;
}

.greetings {
  width: 120px;
  height: 31px;
  background: var(--text) !important;
  margin: 16px 28px 16px 0;
  float: right;
}

.App-link {
  color: var(--details);
}

.header {
  background-color: var(--secondary) !important;
}

.header-logo {
  height: 60px;
  cursor: pointer !important;
}

.header-search {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  background-color: var(--details) !important;
}

.header-greetings {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.content {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  color: var(--text) !important;
  background-color: var(--details) !important;
}

.product-card {
  background-color: var(--terciary);
  margin: 10px;
  padding: 15px;
}
